<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
       Enter zip code
{% endblock %}

    {% block body %}
           <div class="form-group">
               <form action="{{ url_for('explore') }}" method="post">
                   <div class="form-div">  
                       <p><input class="form-control" name="zip" type="text" placeholder="Enter zip code"></p>
                       <p><input class="form-control" name="seacrh" type="submit"  value="LOOK UP"></p>
                   </div>
             </form>
         </div>
    {% endblock %}
        </body>
 </html>
