<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
     User does not exist - Register
{% endblock %}

    {% block body %}
           <div class="form-group">
               <form action="{{ url_for('register') }}" method="post">
                   <div class="form-div">  
                       <p class="form_label">Register to explore destinations</p>    
                       <p><input class="form-control" name="login_name" type="text" placeholder="Enter Login id"></p>
                       <p><input class="form-control" name="login_pswd"  type="password" placeholder="**********"></p>
                       <p><input class="form-control" name="user_f_name"  type="text" placeholder="Enter First Name"></p>
                       <p><input class="form-control" name="user_l_name"  type="text" placeholder="Enter Last Name"></p>
                       <p><input class="form-control" name="user_email"  type="text" placeholder="Enter Email"></p>
                       <p><input class="form-control" name="signup" type="submit"  value="SIGN UP"></p>
                  </div>
             </form>
         </div>
    {% endblock %}
    </body>
 </html>
